@model WebProgramlamaProje.Models.Dto.LoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #aa048b;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        .container {
            padding: 16px;
        }

        .msg {
            padding: 0px;
        }

        .err {
            color: red;
        }

        a {
            text-decoration: none;
            color: #aa048b;
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <form asp-action="Login" method="post">
        <div class="container">
            <label asp-for="Username"><b>Kullanıcı Adı</b></label>
            <input type="text" asp-for="Username" placeholder="Kullanıcı Adınız.">
            <div class="msg">
                <span class="err" asp-validation-for="Username"></span>
            </div>

            <label asp-for="Password"><b>Şifre</b></label>
            <input type="password" asp-for="Password" placeholder="Şifreniz.">
            <div class="msg">
                <span asp-validation-for="Password" class="err"></span>
            </div>

            @if (TempData["AlertMessage"] != null)
            {
                <div class="msg">@TempData["AlertMessage"]</div>
            }

            <button type="submit">Giriş Yap</button>
            <a href="/UserAuthentication/Registration">Hesabın Yok Mu?</a>
        </div>
    </form>

</body>
</html>
